.styles-font-italic {
  font-family: Arial, serif;
  font-style: italic;
  font-weight: normal;
}

.styles-font-normal {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: normal;
}

.styles-font-normal_with_styles {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}