@import "adaptiveMixin";
@import 'font';
*{
    padding: 0;
    margin: 0;
    list-style-type: none;

    text-decoration: none;
}




@import 'header/header';

@import 'nav/nav';

@import 'connect/connect';

@import 'card/card';

@import 'footer/footer'

