* {
  padding: 0;
  margin: 0;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

header {
  display: flex;
  justify-content: center;

  align-content: center;
  margin: 0 auto;
}

.nav__link-list a, .header-communication__paragraph, .header-slider__content h1, .header-slider__content h2, .header-slider__switch p, .header-communication__tweet p {
  font-family: Arial, serif;
  font-style: italic;
  font-weight: normal;
}

.header-slider__switch h4, .block-connect__form button, .card-item h5 {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: normal;
}


.nav__link-list {
  margin-top: -37px;

  li {
    display: flex;
    width: 140px;
    height: 37px;
    margin-top: 37px;

    a {
      color: #34ACA7;
      font-size: 14px;
      line-height: 32px;
      display: block;
      width: 140px;

      &.link-tastemakers {
        &::before {
          background-image: url(../img/1.svg);
        }
      }

      &.link-blog {
        &::before {
          background-image: url(../img/2.svg);
        }
      }

      &.link-a-list {
        &::before {
          background-image: url(../img/3.svg);
        }
      }

      &.link-contribure {
        &::before {
          background-image: url(../img/4.svg);
        }
      }

      &.link-about {
        &::before {
          background-image: url(../img/5.svg);
        }
      }

      &:hover {
        background-color: #e9fcf9;
        height: 37px;
        width: 140px;
        display: block;
      }

      &::before {
        content: "";
        vertical-align: middle;
        width: 37px;
        height: 31px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
}


.navigation-menu {
  margin-top: 46px;
  width: 140px;
}

.header-communication {
  &__tweet {
    margin-top: 17px;

    div {
      height: 14px;
      width: 17px;
      background-image: url(../img/Vector.svg);
      background-repeat: no-repeat;
    }

    a {
      display: flex;
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 7px;
      margin-top: 7px;
    }

    p {
      font-size: 10px;
      line-height: 12px;
      color: #34ACA7;
      padding-left: 4px;
    }
  }

  &__inner-content {
    font-family: Verdana, serif;
    text-transform: uppercase;
    border-bottom: 1px dashed #E5E5E5;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: normal;
    margin-top: 11px;
  }

  &__paragraph {
    font-size: 10px;
    line-height: 19px;
    width: 140px;
    margin-top: 13px;
  }
}

.header-slider {
  margin-top: 36px;
  position: relative;
  top: 9px;
  padding-left: 24px;

  &__content {
    position: absolute;
    top: 290px;
    max-width: 897px;

    h1 {
      flex-basis: 100px;
      font-size: 22px;
      line-height: 22px;
      background-color: white;
      padding: 18px 10px 18px 18px;
      position: relative;
      max-width: 300px;
    }

    h2 {
      position: relative;
      flex-basis: 100px;
      font-size: 14px;
      line-height: 14px;
      background-color: black;
      padding: 10px 30px 15px 18px;
      color: white;
      max-width: 848px;
    }


  }

  &__switch {
    display: flex;
    margin-top: -4px;
    width: 896px;

    li {
      width: 224px;
      background: #EFF8F7;
      padding: 16px;
      color: #34ACA7;

      p {
        font-size: 10px;
        line-height: 19px;
      }

      &:hover {
        background-color: #D9EFEC;
        cursor: pointer;
      }
    }
  }
}


main {
  margin-left: calc(50% - 367px);
  margin-top: -52px;
}

.image-twitter {
  margin-top: 10px;
}

.block-connect {
  margin-top: 39px;
  padding-left: 18px;
  border-bottom: 1px dashed #E5E5E5;
  border-top: 1px dashed #E5E5E5;
  width: 877px;
  padding-top: 10px;
  padding-bottom: 8px;
  &__icon{
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    div{
      width: 37px;
      height: 37px;;
      background-repeat: no-repeat;
      display: block;
      background-image: url(../img/post.svg);
    }

  }
  &__inner {
    display: flex;
    width: 876px;
    align-items: center;

    h4 {
      font-family: Arial, serif;
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      padding-left: 18px;

    }

    button {
      margin-left: 17px;
      font-size: 10px;
      line-height: 10px;
      padding: 6px 15px 4px;
    }
  }

  &__form {
    padding-left: 21px;
    padding-top: 4px;
    display: flex;

    input {
      width: 157px;
      height: 19px;
    }
  }
}

.full-style, .card-item a, .card-item p {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.card-item {
  ul {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    width: 896px;
    justify-content: space-between;

    li {
      width: 207px;
      padding-bottom: 21px;

      img {
        border: 1px solid #d1d4cf;
        box-sizing: border-box;
      }

      h5 {
        font-size: 16px;
        line-height: 21px;
        color: #34ACA7;
      }

      a {
        color: #34ACA7;
      }
    }
  }

  &__date {
    color: #e5e5e5;
    padding-top: 11px;
  }
}

footer {
  width: 90vw;
  margin-top: 28px;
  padding-top: 30px;
  overflow-x: hidden;
  margin: 0 auto;

  section {
    padding: 24px;
    border-top: 2px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  &__contact {
    a {
      color: #34ACA7;

      &:before {
        color: #34ACA7;
        content: ' \007c';
      }

      &:nth-child(1) {
        &:before {
          content: '';
        }
      }
    }

    a {
      font-family: Arial, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;

    }

    p {
      color: #e5e5e5;
    }
  }

  &__info {
    img {
      margin-right: 5px;
    }

    p {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #E5E5E5;
    }
  }

  &__network {
    display: flex;
    flex-wrap: nowrap;

    &__icon {
      width: 37px;
      height: 31px;
      background-repeat: no-repeat;

      &.-con {
        background-image: url(../img/Vector3.svg);
        margin-left: -11px;
      }

      &.-tweet {
        background-image: url(../img/Vector1.svg);
      }

      &.-facebook {
        background-image: url(../img/Vector2.svg);
      }
    }
  }
}


@media (min-width: 480px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }
  main {
    margin: 34px auto;
  }
  .navigation-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    div {
      display: none;
    }
  }
  .nav__link-list {
    display: flex;
    width: 375px;
    justify-content: space-between;
    padding-left: 9px;

    li {
      width: 74px;

      a {
        white-space: nowrap;
        text-align: center;

        &::before {
          display: none;
        }
      }
    }


  }
  header {
    display: block;
  }

  .header-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-top: 23px;

    &__switch {
      display: none;

      p {
        display: none;
      }

      h4 {
        padding-bottom: 17px;
      }
    }

    &__content {
      top: 202px;
      width: 600px;

      h1 {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    img {
      width: 600px;
      height: auto;
    }
  }
  .block-connect {
    width: 487px;

    &__inner {
      width: 480px;
      display: flex;
      flex-wrap: wrap;


    }

    &__form {
      display: flex;
    }
  }
  .card-item {
    ul {
      width: 480px;
      margin: 0 auto;

      img, li {
        width: 222px;
      }
    }
  }
  .block-connect {
    &__inner {
      h4 {
        width: 585px;
      }
    }

    &__form {
      padding-left: 0;

      input {
        width: 375px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1176px) {
  .header-slider {
    img {
      width: 712px;
      height: 445px;
    }

    &__switch {
      width: 712px;
    }
  }
  .block-connect {
    width: 696px;

    &__form {
      display: flex;
    }

    &__inner {
      width: 696px;
    }
  }
  .card-item {
    ul {
      width: 712px;

      li, img {
        width: 159px;
      }
    }


  }
  .header-slider {
    padding-left: 50px;

    &__switch {
      p {
        display: none;
      }

      h4 {
        padding-bottom: 17px;
      }
    }

  }
  main {
    margin-left: calc(50% - 262px);
    margin-top: -66px;
  }
}

@media (min-width: 769px) {

  footer {
    width: 90vw;
  }

}

@media (min-width: 769px) and (max-width: 991px) {
  main {
    margin: 34px auto;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .navigation-menu {
    display: flex;
    width: 712px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
  }
  .nav__link-list {
    display: flex;
    width: 575px;
    justify-content: space-between;

    li {
      width: 74px;

      a {
        white-space: nowrap;
        text-align: center;

        &::before {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .header-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;

    img {
      width: 712px;
      height: 364px;
    }

    &__switch {
      width: 712px;

      p {
        display: none;
      }

      h4 {
        padding-bottom: 17px;
      }
    }

    &__content {
      margin-left: -229px;
      top: 220px;
      max-width: 600px;
    }

  }
  .block-connect {
    width: 696px;

    &__inner {
      width: 696px;
    }

    &__form {
      display: flex;
    }
  }
  .navigation-menu div {
    display: none;
  }
  .card-item {
    ul {
      width: 712px;
      margin: 0 auto;
    }


  }
  footer {
    width: 90vw;
  }
}

@media (min-width: 769px) {
  footer {
    width: 90vw;
  }
}

@media (min-width: 480px) and (max-width: 597px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .header-slider {
    img {
      width: 480px;
    }

    &__content {
      top: 141px;
      width: 480px;
    }

    &__inner {
      h4 {
        width: 480px;
      }
    }
  }
}

@media (max-width: 479px) {
  body {
    overflow-x: hidden;
  }
  .navigation-menu {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap-reverse;

    div {
      display: none;
    }
  }
  .nav__link-list {
    display: flex;
    width: 375px;
    justify-content: space-between;
    padding-left: 9px;

    a {
      white-space: nowrap;
      text-align: center;
    }
  }
  .header-slider {
    img {
      width: auto;
      height: 400px;
    }

    &__switch {
      display: none;
    }
  }
  .block-connect {
    width: auto;
    padding-left: 0;
    margin-top: 72px;

    &__form {
      display: flex;
    }

    &__inner {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  header {
    display: block;
  }
  main {
    margin: 34px auto;
  }
  .nav__link-list {
    li {
      width: 74px;

      a {
        &::before {
          display: none;
        }
      }
    }

  }
  .card-item {
    ul {
      width: 320px;
      margin: 0 auto;

      img, li {
        width: 320px;
      }
    }

  }
  .header-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-top: 23px;

    &__switch {
      p {
        display: none;
      }

      h4 {
        padding-bottom: 17px;
      }
    }

    &__content {
      top: 334px;
      max-width: 480px;

      h1 {
        background-color: rgba(255, 255, 255, 0.5);
        max-width: 480px;
      }

      &__form {
        padding-left: 0;

        input {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .block-connect__form input {
    width: 250px;
  }
}

@media (max-width: 460px) {
  .block-connect__form input {
    width: 290px;
  }
}

@media (max-width: 358px) {
  .block-connect__form input {
    width: 220px;
  }
}
