@import "nav.scss";
@import "headerSlider.scss";
header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  @include _991 {
    flex-direction: column;
  }
  @include _768 {
    display: block;
  }
  @include _597 {
    display: flex;
    flex-direction: column;
  }
}