<<<<<<< HEAD
.card-item {
    max-width: 900px;
    margin: -42px auto;
    padding-left: 153px;
    @include _1176{
        margin: -42px auto;
    }
    @include _1111{
        max-width: 873px;
    }
    @include _1061{
        max-width: 800px;
    }
    @include _991{
        max-width: 800px;
        padding-left: 0;
        margin: 36px auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include _515{
            justify-content: center;
        }
        li {
            padding: 3px;
            a {
                color: #34aca7;
                h5 {
                    @extend .font-serif;
                    font-size: 16px;
                    line-height: 21px;
                    color: #34aca7;
                    
                    width: 200px;
                    @include _685{
                        width: 265px;
                    }
                    @include _597{
                        width: 220px;
                    }
                    @include _569{
                        width: 200px;
                    }
                    @include _515{
                        width: 260px;
                    }
                }
                img {
                    border: 1px solid #d1d4cf;
                    @include _685{
                        width: 250px;
                    }
                    @include _597{
                        width: 220px;
                    }
                    @include _569{
                        width: 200px;
                    }
                    @include _515{
                        width: 260px;
                    }
                }
            }
            p {
                @extend .font-serif;
                max-width: 200px;           
                font-size: 14px;
                line-height: 20px;
                @include _685{
                    max-width: 250px;
                }
                @include _597{
                    max-width: 220px;
                }
                @include _569{
                    width: 200px;
                }
                @include _515{
                    width: 260px;
                }
            }
            span {
                color: #e5e5e5;
                padding-top: 11px;
                a {
                    color: #34aca7;
                }
            }
        }
    }
=======

main {
  margin-left: calc(50% - 367px);
  margin-top: -52px;
  @include _1176 {
    margin-left: calc(50% - 262px);
    margin-top: -66px;
  }
  @include _991 {
    margin: 34px auto;
  }
}
.card-item {
  ul {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    width: 896px;
    justify-content: space-between;
    @include _1176 {
      width: 712px;
    }
    @include _991 {
      margin: 0 auto;
    }
    @include _768 {
      width: 480px;
      margin: 0 auto;
    }
    @include _480 {
      width: 320px;
    }

    li {
      width: 207px;
      padding-bottom: 21px;
      @include _1176 {
        width: 159px;
      }
      @include _768 {
        width: 222px;
      }
      @include _480 {
        width: 320px;

      }

      img {
        border: 1px solid #d1d4cf;
        box-sizing: border-box;
        @include _1176 {
          width: 159px;
        }
        @include _768 {
          width: 222px;
        }
        @include _480 {
          width: 320px;

        }
      }

      h5 {
        font-size: 16px;
        line-height: 21px;
        color: #34ACA7;
        @extend .styles-font-normal;
      }

      a {
        color: #34ACA7;
        @extend .styles-font-normal_with_styles;
      }

      p {
        @extend .styles-font-normal_with_styles;
      }
    }
  }

  &__date {
    color: #e5e5e5;
    padding-top: 11px;
  }
>>>>>>> 84e8a879808ae71a76cdeb9d19843a42d749d863
}